<div class="panel panel-enchant-simulator" data-ng-class="{'completed': data.$$state.completed}">

  <div class="panel-heading">
    <h4 class="text-center">Enchant simulator</h4>
  </div>

  <div class="form-group">
    <select class="form-control" data-ng-model="data.gearType" data-ng-change="onChange_gearType()">
      <option value="ancient">Ancient Gear</option>
      <option value="legendary">Legendary Gear</option>
      <option value="ultimate">Ultimate Gear</option>
    </select>
  </div>

  <div class="panel-number">{{ data.currentLevel }}</div>

  <div class="btn-group btn-group-justified enchant-stones" role="group">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-ancient" data-ng-click="onClick_enchant('ancient')">Ancient <br /> Stone</button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-legendary" data-ng-click="onClick_enchant('legendary')">Legendary <br /> Stone</button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-ultimate" data-ng-click="onClick_enchant('ultimate')">Ultimate <br /> Stone</button>
    </div>
  </div>


  <div class="panel-success-overlay">
    <h1>Congratulations</h1>
  </div>

</div>