<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/admin">Admin</a></li>
</ol>

<div class="row">
  <div class="col-xs-12 col-sm-4">

    {{> '/admin/_partials/_admin.navigation.panel.hbs' }}

  </div>

  <div class="col-xs-12 col-sm-8">

    <div class="well well-title">
      <h4>Admin board</h4>
    </div>

  </div>

</div>