<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title text-center">Navigation</h4>
  </div>
  <div class="list-group">
    <a href="/admin/characters" class="list-group-item">Characters</a>
  </div>
</div>